<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>laughing-login</title>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
</head>
<body>
<div id="app">
    <el-form ref="loginform" :model="loginform" action="/login.html" method="post">
        <el-container>
            <el-header>LAUGHING-SSO</el-header>
            <el-main style="position: fixed ; width:100%;top:30%; ">
                <el-row>
                    <el-col :span="8" :offset="9">
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="8" :offset="9">
                        <div class="" style="width: 75%">
                            <el-form-item label="用户名">
                                <el-input v-model="loginform.username" name="username"></el-input>
                            </el-form-item>
                            <el-form-item label="密码">
                                <el-input v-model="loginform.password" name="password" type="password"></el-input>
                            </el-form-item>
                            <el-form-item label="验证码">
                                <img v-bind:src="verifyCodeUrl" @click="updateCode" alt="验证码"/>
                                <el-input v-model="loginform.code" name="code"></el-input>
                            </el-form-item>
                        </div>
                    </el-col>
                </el-row>
                </br>
                <el-row gutter="5">
                    <el-col :span="8" :offset="8">
                        <div style=" text-align: center;">
                            <!--v-on:click="login"  native-type="submit"-->
                            <el-button type="primary" round native-type="submit" style="width: 100px;bottom: 20%">登录</el-button>
                            <el-button type="success" round v-on:click="goregister" style="width: 100px;bottom: 20%">前往注册</el-button>
                        </div>
                    </el-col>
                </el-row>
            </el-main>
        </el-container>
    </el-form>
    <el-dialog
            title="LAUGHING-SSO"
            :visible.sync="dialogRegister"
            width="30%">
        <span>{{registermsg}}</span>
        <span slot="footer" class="dialog-footer">
    <el-button type="primary" @click="registerback">确 定</el-button>
  </span>
    </el-dialog>


</div>
<div class="foot">京ICP备20013876<br>@laughing 2020 - 2020</div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data() {
            // 00 部门管理-培训,00 部门管理-a会议,00 其他,10 项目管理,20 咨询售前,30 需求分析,40 系统设计,50 编码,60 测试,70 基础架构实施,80 运维一线支持,80 运维-程序优化,80 运维-数据,80 运维-基础架构,{.type}
            return {
                verifyCodeUrl: '/verifyCode?time=' + new Date(),
                dialogRegister: false,
                registermsg: '',
                loginform: {
                    password: '',
                    username: '',
                    code: ''
                }
            };
        },
        methods: {
            // 更新验证码图片
            updateCode() {

                this.verifyCodeUrl = "/verifyCode?time=" + new Date();

            },
            goregister() {

                window.location.href = "http://127.0.0.1:7070/register.html";


            },
            registerback() {
                window.location.reload();
            }
        }
    })
</script>
<style>
    body {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://api.dujin.org/bing/1920.php) 0px 0px no-repeat;
    }

    header {
        color: #ffffff;
        font-size: 30px;
        text-align: center;
        line-height: 400px;
    }

    .el-form-item__label {
        color: #ffffff;
        font-size: 18px;
    }


    .app-block {
        width: 28%;
        margin: 0 auto;
        text-align: center;
        padding: 3em 5em;
        height: 80%;
    }

    .foot {
        color: white;
        font-size: 14px;
        position: fixed;
        bottom: 8%;
        left: 45%;
    }
</style>
</html>
